{% use '_blocks.html.twig' %}

<!DOCTYPE HTML>

<html>

	<head>
		{{ block('head_brand') }}
		<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


		
		
	</head>

	<body style="padding-top: {{ navBarOffset }};">
		{{ block('bar_brand') }}

		<!-- <div class="overlay">
			<img class="logo-brand" src="img/logo-lt-blanc.svg" alt="">
			<div class="spinner">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div>  -->
		<div id="barba-wrapper" class="is-red">
			<div class="barba-container">

				<br><br><br>
				<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, doloribus. Dolorem magni, sequi corrupti earum quasi nisi vero culpa atque, consectetur consequuntur cum adipisci obcaecati assumenda, cupiditate illum numquam alias.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam alias, saepe molestiae, laborum inventore libero nihil ad placeat deserunt, ratione sint? Veritatis possimus rerum, sunt. Libero et, officiis ducimus eos.</h1>

				<img src="img/tictac.jpg" alt="">

				<h2>Lorem ipsum dolor sit amet, <a href="?page=index">consectetur adipisicing elit</a>. Porro, doloribus. Dolorem magni, sequi corrupti earum quasi nisi vero culpa atque, consectetur consequuntur cum adipisci obcaecati assumenda, cupiditate illum numquam alias.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam alias, saepe molestiae, laborum inventore libero nihil ad placeat deserunt, ratione sint? Veritatis possimus rerum, sunt. Libero et, officiis ducimus eos.</h2>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, doloribus. Dolorem magni, sequi corrupti earum quasi nisi vero culpa atque, consectetur consequuntur cum adipisci obcaecati assumenda, cupiditate illum numquam alias.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam alias, saepe molestiae, laborum inventore libero nihil ad placeat deserunt, ratione sint? Veritatis possimus rerum, sunt. Libero et, officiis ducimus eos.</p>
		
			</div>
		</div>

		

		

		{{ block('footer_brand') }}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="assets/js/barba.min.js"></script>
	</body>
	
</html>