 h1
{
	font-size: modular-scale(2);
	padding: 50px;
	font-weight: lighter; 
}
h2
{
	font-size: modular-scale(1); 
	padding: 50px;
	font-weight: lighter;
}
p
{
	font-size: modular-scale(0);
	padding: 50px;
}
