/*Bourbon mixins*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*Boxes settings*/
.color1 {
  color: #00c565; }

.color2 {
  color: #ffc200; }

.color3 {
  color: #2286e5; }

.color4 {
  color: #d21f0a; }

.color5 {
  color: #ad26ff; }

.color6 {
  color: #df2193; }

html {
  background: white;
  color: #222;
  font-size: 17px;
  line-height: 1.4;
  height: 100%; }

body {
  background: #333333;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 14px;
  background: #2b5876;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #005f97, #6c3695);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #005f97, #6c3695);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

img {
  display: block;
  width: 100%; }

h1 {
  font-weight: 900;
  color: white;
  margin-top: 70px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 40px;
  width: 100%;
  opacity: 1;
  max-width: 100%; }

h3 {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 5px; }

h4 {
  font-weight: 300;
  color: #aeb1b5;
  margin-bottom: 13px; }
  h4 span {
    font-weight: 500; }

h5 {
  font-weight: 300;
  color: #787979;
  line-height: 17px; }

.f-font1 {
  font-family: "adelle"; }

.f-font2 {
  font-family: "proxima-nova"; }

.f-font3 {
  font-family: 'Georgia';
  font-style: italic; }

.f-weight100 {
  font-weight: 100; }

.f-weight400 {
  font-weight: 400; }

.f-weight600 {
  font-weight: 600; }

.f-weight700 {
  font-weight: 700; }

.f-weight700i {
  font-weight: 700;
  font-style: italic; }

.f-h1 {
  font-size: 72px;
  line-height: 66px; }
  @media (max-width: 500px) {
    .f-h1 {
      font-size: 38px;
      line-height: 40px;
      margin-top: 35px; } }

.f-h2 {
  font-size: 21px;
  line-height: 24.5px;
  letter-spacing: 2px; }
  @media (max-width: 500px) {
    .f-h2 {
      font-size: 19px;
      line-height: 26px;
      letter-spacing: 0px;
      margin-top: 0; } }

.f-h3 {
  font-size: 40px;
  line-height: 40px; }

.f-h4 {
  font-size: 50px;
  line-height: 45px; }
  @media (max-width: 1440px) {
    .f-h4 {
      font-size: 40px;
      line-height: 40px; } }
  @media (max-width: 1200px) {
    .f-h4 {
      font-size: 30px;
      line-height: 30px; } }

.f-h5 {
  font-size: 20px;
  line-height: 24.5px; }
  @media (max-width: 1200px) {
    .f-h5 {
      font-size: 18px; } }

.f-h6 {
  font-size: 29px; }

.f-h7 {
  font-size: 16px; }

.f-aside {
  font-size: 16px;
  line-height: 23px !important; }

.f-quote {
  font-size: 30px;
  line-height: 40px; }

.f-flash {
  color: #2fac66; }

.f-white {
  color: white; }

.f-white-special {
  color: white; }
  @media (max-width: 500px) {
    .f-white-special {
      color: black; } }

.f-black {
  color: black; }

.f-gray-dark {
  color: #666666; }

.f-gray-medium {
  color: #b7b7b7; }

.f-aa {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.f-nomargin {
  margin-bottom: 0; }

.f-inter {
  padding-top: 30px; }

h2 {
  max-width: 725px; }

p {
  font-family: "proxima-nova";
  color: black;
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 29px; }
  p b {
    font-family: "adelle";
    font-weight: 600; }

.content p {
  position: relative;
  padding-left: calc(33.33333333% + 15px); }
  @media (max-width: 992px) {
    .content p {
      padding-left: 0; } }
  @media (max-width: 500px) {
    .content p {
      font-size: 18px; } }
  .content p:first-of-type:first-letter {
    font-family: "adelle";
    float: left;
    font-size: 55px;
    padding: 0.30em 0.10em 0 0;
    font-weight: 600; }
    @media (max-width: 500px) {
      .content p:first-of-type:first-letter {
        font-size: 55px; } }
  .content p a {
    color: #2fac66;
    border-bottom: 2px solid #2fac66; }
    .content p a:hover, .content p a:focus {
      text-decoration: none; }

.prefooter p {
  font-size: 19px;
  line-height: 27px; }

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 60px;
  line-height: 0.1em;
  margin-right: 0;
  vertical-align: -5px;
  color: red; }

blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 60px;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -5px;
  color: red; }

img.logo {
  opacity: 0.3;
  width: 90%;
  max-width: 1145px;
  margin: auto;
  padding-top: 50px; }

ul {
  width: 100%;
  background: transparent; }
  ul li {
    position: relative;
    height: 45px;
    border-bottom: 1px solid #ececec;
    padding: 15px;
    color: #a5a5a5;
    cursor: pointer;
    transition: all 0.2s; }
    ul li:hover {
      color: #333333;
      transition: all 0.2s;
      background: #efefef; }
      ul li:hover .btn-hidden {
        opacity: 1 !important;
        transition: opacity 0.2s; }
    ul li span {
      font-weight: 500; }
    ul li div.btn {
      position: absolute;
      height: 100%;
      width: 45px;
      background: transparent;
      top: 0;
      border-left: 1px solid #e2e1e1;
      color: #a5a5a5; }
      ul li div.btn.btn-download {
        right: 0;
        cursor: pointer; }
        ul li div.btn.btn-download:hover {
          color: #333333; }
        ul li div.btn.btn-download i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
      ul li div.btn.btn-example {
        right: 45px;
        cursor: pointer; }
        ul li div.btn.btn-example:hover {
          color: #333333; }
        ul li div.btn.btn-example i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
      ul li div.btn.btn-update {
        width: auto;
        right: 90px;
        border-left: none;
        padding: 15px; }
      ul li div.btn.btn-hidden {
        opacity: 0;
        transition: opacity 0.2s; }

div.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #2fac66;
  z-index: 1005; }
  div.overlay .logo-brand {
    width: 300px;
    max-width: 85%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -110%);
    -moz-transform: translate(-50%, -110%);
    -ms-transform: translate(-50%, -110%);
    -o-transform: translate(-50%, -110%);
    transform: translate(-50%, -110%); }
  div.overlay .spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 70%); }
  div.overlay .double-bounce1, div.overlay .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #eee;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out; }
  div.overlay .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s; }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

nav {
  width: 70px;
  position: fixed;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  nav ul li {
    width: 13px;
    height: 13px;
    background: transparent;
    border: 2px solid #dedede;
    margin: 25px auto 25px auto;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    nav ul li:hover {
      -webkit-transform: scale(1.7);
      -moz-transform: scale(1.7);
      -ms-transform: scale(1.7);
      -o-transform: scale(1.7);
      transform: scale(1.7);
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    nav ul li.is-active {
      -webkit-transform: scale(1.7);
      -moz-transform: scale(1.7);
      -ms-transform: scale(1.7);
      -o-transform: scale(1.7);
      transform: scale(1.7);
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      background: #2fac66;
      border: 0; }

.video-wrapper .video-wrapper-flex {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: auto;
  max-width: 100%;
  z-index: 999; }
  .video-wrapper .video-wrapper-flex iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.btn-default {
  background: #2fac66;
  border-radius: 0px;
  color: white;
  border: none;
  padding: 11px 16px;
  border-radius: 0;
  outline: none; }
  .btn-default:hover {
    background: #34c072;
    color: white; }
  .btn-default:focus {
    background: #34c072;
    color: white; }
  .btn-default:active {
    background: #34c072 !important;
    color: white !important; }

input {
  border-radius: 0 !important; }

.spacer-xs {
  width: 100%;
  height: 8px; }

.spacer-sm {
  width: 100%;
  height: 15px; }

.spacer-md {
  width: 100%;
  height: 20px; }
  @media (max-width: 500px) {
    .spacer-md {
      height: 10px; } }

.spacer-lg {
  width: 100%;
  height: 30px;
  overflow: auto; }
  @media (max-width: 500px) {
    .spacer-lg {
      height: 20px; } }

.spacer-xl {
  width: 100%;
  height: 40px; }
  @media (max-width: 992px) {
    .spacer-xl {
      height: 20px; } }

.sharebox {
  width: 100%; }
  .sharebox i {
    color: #2fac66;
    margin-right: 0.6rem;
    cursor: pointer; }
    .sharebox i:hover {
      color: #34c072; }
  .sharebox-invert i {
    color: white;
    margin-right: 1.5rem; }
    .sharebox-invert i:hover {
      color: #2fac66; }

.newsletter {
  background: #dedede;
  padding: 1.2rem 1.9rem 2rem 1.9rem;
  float: none;
  z-index: 999; }

.related {
  padding: 30px 0 30px 0;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1; }
  @media (max-width: 500px) {
    .related {
      padding: 20px 0 20px 0; } }
  .related img {
    width: 150px;
    height: auto;
    float: left;
    margin-right: 30px; }
    @media (max-width: 500px) {
      .related img {
        width: 100px;
        margin-right: 20px; } }
  @media (max-width: 500px) {
    .related h6 {
      margin-top: 0; } }
  @media (max-width: 500px) {
    .related .btn {
      display: none; } }
  @media (max-width: 500px) {
    .related .spacer-sm {
      display: none; } }

.quote {
  padding: 0;
  float: none;
  text-transform: uppercase;
  letter-spacing: -1px;
  word-spacing: 2px; }
  .quote:before {
    color: #ccc;
    content: '\00ab';
    font-size: 80px;
    line-height: 0.1em;
    margin-right: 0;
    vertical-align: -10px;
    color: #2fac66;
    font-weight: 400;
    margin-right: -7px; }

.encart {
  font-size: 17px;
  line-height: 28px;
  overflow: auto;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 29px;
  padding: 30px 0 30px 0;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1; }
  .encart .encart-3-columns {
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 40px;
    /* Firefox */
    column-gap: 40px; }
  .encart .encart-2-columns {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 40px;
    /* Firefox */
    column-gap: 40px; }
    @media (max-width: 768px) {
      .encart .encart-2-columns {
        -webkit-column-count: 1;
        /* Chrome, Safari, Opera */
        -moz-column-count: 1;
        /* Firefox */
        column-count: 1; } }
    @media (max-width: 992px) {
      .encart .encart-2-columns {
        padding-left: 0;
        padding-right: 0; } }
  .encart span {
    width: 100%;
    display: block; }
  @media (max-width: 992px) {
    .encart figure .spacer-lg {
      display: none; } }
  .encart figure img {
    border-radius: 50%;
    width: 70%; }
    @media (max-width: 992px) {
      .encart figure img {
        width: 80px;
        height: auto;
        margin-right: 30px;
        float: left; } }
    @media (max-width: 500px) {
      .encart figure img {
        width: 50%;
        margin: auto;
        clear: both;
        float: none; } }
  .encart figure figcaption {
    height: 105px;
    padding-top: 15px; }
    @media (max-width: 500px) {
      .encart figure figcaption {
        text-align: center; } }

.article-card a:hover {
  text-decoration: none;
  color: #2fac66; }

.list-inline {
  width: 100%;
  margin-left: 0; }
  @media (max-width: 500px) {
    .list-inline {
      margin-bottom: 10px; } }
  .list-inline li {
    float: left;
    padding-left: 0 !important;
    margin-bottom: 10px; }
    .list-inline li label {
      margin-left: 0 !important; }

ul.footer-menu {
  position: relative;
  text-transform: uppercase; }
  ul.footer-menu li {
    margin-bottom: 15px; }
    ul.footer-menu li a {
      color: white; }
      ul.footer-menu li a:hover {
        text-decoration: none;
        color: #2fac66;
        border-bottom: 2px solid #2fac66; }
  ul.footer-menu .footer-logo {
    position: absolute;
    height: 40px;
    width: auto; }

div.credits {
  text-align: center; }

input[type="text"] {
  border: none; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label {
  margin: 0 20px 0 0;
  cursor: pointer; }
  @media (max-width: 1440px) {
    input[type="checkbox"] + label {
      margin: 0 13px 0 0; } }

input[type="checkbox"] + label span {
  display: inline-block;
  width: 32px;
  height: 26px;
  background: white;
  margin: -1px 5px 0 0;
  vertical-align: middle;
  background: url(../img/checkbox-notchecked.svg);
  cursor: pointer; }

input[type="checkbox"]:checked + label span {
  background: url(../img/checkbox-checked.svg);
  background-position: center center;
  background-size: cover; }

div.brand-nav {
  display: none; }
